/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
*.map
/docs
/public/uploads
/storage/uploads
/storage/thumbnails

.idea/workspace.xml
.idea/tasks.xml
.idea/la1.xml
.idea/*.iml
.idea/misc.xml
