/*
 * Component: Form
 * ---------------
 */
.form-control {
  .border-radius(@input-radius);
  box-shadow: none;
  border-color: @gray;
  &:focus {
    border-color: @light-blue;
    box-shadow: none;
  }
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form-group {
  &.has-success {
    label {
      color: @green;
    }
    .form-control {
      border-color: @green;
      box-shadow: none;
    }
  }

  &.has-warning {
    label {
      color: @yellow;
    }
    .form-control {
      border-color: @yellow;
      box-shadow: none;
    }
  }

  &.has-error {
    label {
      color: @red;
    }
    .form-control {
      border-color: @red;
      box-shadow: none;
    }
  }
}
label.error{color:#FF6262;font-weight:400;margin-top:2px;}
.form-control.error{border-color:#FF6262;}

/* Input group */
.input-group {
  .input-group-addon {
    .border-radius(@input-radius);
    border-color: @gray;
    background-color: #fff;
  }
}

/* button groups */
.btn-group-vertical {
  .btn {
    &.btn-flat:first-of-type, &.btn-flat:last-of-type {
      .border-radius(0);
    }
    &.btn-rounded:first-of-type, &.btn-rounded:last-of-type {
      .border-radius(100px);
    }
  }
}

.icheck > label {
  padding-left: 0;
}

/* support Font Awesome icons in form-control */
.form-control-feedback.fa {
  line-height: @input-height-base;
}

.input-lg + .form-control-feedback.fa,
.input-group-lg + .form-control-feedback.fa,
.form-group-lg .form-control + .form-control-feedback.fa {
  line-height: @input-height-large;
}

.input-sm + .form-control-feedback.fa,
.input-group-sm + .form-control-feedback.fa,
.form-group-sm .form-control + .form-control-feedback.fa {
  line-height: @input-height-small;
}

.dashed-row .form-group{
    border-bottom: 1px dashed #e2e4e8;
    padding-bottom: 15px;
} 
.dashed-row .form-group:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.dashed-row .bd {
    border-bottom: 1px dotted #e2e4e8;
}

.general-form .form-group:before,
.general-form .form-group:after {
    content: "";
    display: table;
    line-height: 0;
}
.general-form .form-group:after {
    clear: both;
}
.general-form textarea {
    height: 75px;
}
.general-form .select2 {
    width: 100%;
}
.general-form .mini {
    max-width: 200px;
}

.general-form .form-control {
    border-radius: 2px;
    border-color: #f6f8f9;
    background-color: #f6f8f9;
    box-shadow: none;
    transition: all 0.5s;
}

.general-form.white .form-control {
    border-color: #fff;
    background-color: #fff;
}
.general-form.white label {
    margin-top: 5px;
}
.general-form.white .select2-container .select2-choice{
    background-color: #fff !important;
}
.general-form.white label.error{
    box-shadow: none;
    color: #ec5855;
    margin-left: 13px;
    font-weight: normal;
}
.general-form .form-control.white {
    background-color: #fff;
}
.general-form .form-control:focus,
.general-form .form-control.white:focus{
    border-color: #ebeff2;
    background-color: #ebeff2;
}

/* ================= HTML Editor ================= */
.htmlbox{display:block;border-radius:0;box-shadow:none;border:solid 1px #d2d6de;width:100%;max-width:100%;padding:6px 12px;min-height:90px;}
.htmlbox:focus{outline:none;}
/* ================= Toggle Switch - Checkbox ================= */
.Switch {
	position: relative;
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	color: #ccc;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	height: 22px;
	padding: 6px 6px 5px 6px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	background: #ececec;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	font-size: 16px;
}
body.IE7 .Switch { width: 78px; }
.Switch span {
	display: inline-block;
	width: 35px;
}
.Switch span.On { color: #33d2da; }
.Switch .Toggle {
	position: absolute;
	top: 1px;
	width: 37px;
	height: 25px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background: #fff;
	background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: linear-gradient(top, #ececec 0%, #ffffff 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
	z-index: 999;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}
.Switch.On .Toggle { left: 2%; }
.Switch.Off .Toggle { left: 54%; }
/* Round Switch */
.Switch.Round {
	padding: 0px 26px;
	border-radius: 40px;
}
body.IE7 .Switch.Round { width: 1px; }
.Switch.Round .Toggle {
	border-radius: 40px;
	width: 18px;
	height: 18px;
}
.Switch.Round.Off .Toggle {
	left: 1px;
	background: #4CAF50;
}
.Switch.Round.On .Toggle { left: 63%; }